<app-home></app-home>
<div class="back">
<h3 style="text-align: center">WELCOME TO EMPLOYEE MANAGEMENT APP!!</h3>

<div class="c">
    <p>That you need a village, if only for the pleasure of leaving it. Your own village means that you're not alone, that you know there's something of you in the people and the plants and the soil, that even when you are not there it waits to welcome you.” - Cesare Pavese<p>
        <p>
        “If you are fearful, a horse will back off. If you are calm and confident, it will come forward. For those who are often flattered or feared, the horse can be a welcome mirror of the best in human nature.” - Clare Balding</p>
   <img src=" https://assets.ltkcontent.com/images/30-Welcome-Quotes-That-Warm-Hearts-and-Open-Doors-3.jpg" style="width:1000px ;">

</div>
</div>